<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kaymo.resolveai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="resolve_ai.db" />
        <meta-data
            android:name="VERSION"
            android:value="17" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.kaymo.resolveai" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetalhesActivity"
            android:label="@string/detalhes"
            android:parentActivityName=".ReclamacoesActivity" />
        <activity
            android:name=".ReclamacoesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/reclamacoes"/>
        <activity
            android:name=".NovoUsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ResolvidosActivity"
            android:label="@string/resolvidos"
            android:parentActivityName=".ReclamacoesActivity" />
        <activity
            android:name=".ReclamacaoActivity"
            android:label="@string/adicionarReclamacao"
            android:parentActivityName=".ReclamacoesActivity" />

        <activity
            android:name=".ReclamacaoActivity2"
            android:label="@string/title_activity_reclamacao2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArquivadosActivity"
            android:label="@string/arquivados"
            android:parentActivityName=".ReclamacoesActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>